asgiref==3.11.0
async-timeout==5.0.1
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
dj-database-url==3.0.1
Django==5.2.9
django-allauth==65.13.1
django-ranged-response==0.2.0
django-simple-captcha==0.6.3
djangorestframework==3.16.1
Faker==38.2.0
gunicorn==23.0.0
idna==3.11
packaging==25.0
pillow==12.0.0
psycopg2-binary==2.9.11
pycparser==2.23
PyJWT==2.10.1
PyMySQL==1.1.2
python-dotenv==1.2.1
redis==7.1.0
requests==2.32.5
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
whitenoise==6.11.0
