{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<h1>Вітаю містер {{  request.user  }} в нашому анонімному світі DOCTYPE html!</h1>

<h2>Активна підписа: <em>{{ request.user.service.subscription }}</em></h2>
<h3>IPv4_int: <em>{{ request.user.service.ipv_4_local }}</em></h3>
<h3>IPv4_ex: <em>{{ request.user.service.ipv_4_ext }}</em></h3>
<h3>IPv6: <em>{{ request.user.service.ipv_6 }}</em></h3>

<h6>Locations: <em>
    {% for location in request.user.service.subscription.locations.all %}
        {{location}},
    {% endfor %}
</em>
</h6>

<button id="myIdButton" class="myButton btn btn-success">Натисни якшо потужни</button>
<div class="message"></div>
<script src="{% static 'js/index.js' %}"></script>
{% endblock content %}